@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat';
    display: flex;
    background: #FFFFFF;
    justify-content: center;

    overflow-x: hidden;
}
/* head */

.head{
    display: flex;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    justify-content: center;
    background: #D0EBFE;
    filter: drop-shadow(0px 0px 37px rgba(0, 0, 0, 0.25));

}

.header-content{
    display: flex;
    width: 1170px;
    height: 55px;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.horse {
    width: 55px;
    transform: scale(-1, 1);
}



.text-logo{
    margin-left: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    vertical-align: text-top;
}

.text-logo h5{

    display: inline;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: #232D52;
}

.buttons{
    display: flex;
    margin-top: 15px;
}

.link {
    margin: 5px;
    width: 20px;
}

/* container */

.container {
    display: flex;
    margin-top: 40px;
    width: 1200px;
    height: auto;
    justify-content: space-between;
}

.container-text{
    display: flex;
    margin-top: 85px;
    padding: 0px;
    justify-content: space-between;
    vertical-align: text-top;
}

.container-text h1{
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 70%;
    color: #232D52;
    margin-right: 175px;
    margin-left: 112px;
    margin-top: 0px;
    margin-bottom: 0px;
}



.lobbies {
    width: 600px;
}

.lobby{
    color: #232D52;
    width: 600px;
    height: 260px;
    background: #C1E3FF;
    border: 1px solid #C1E3FF;
    border-radius: 10px;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
    margin-top: 12px;
    margin-bottom: 25px;
}


.lobby-text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    margin-left: 10px;
}

.scrolling-games a{
    display: flex;
    text-decoration: none;
    color: black;

    margin: 10px;
    width: 240px;
    height: 160px;
    background: #FBFFC9;

}

.title-game {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.block-game h1{
    margin-left: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
}

.block-game h5{
    text-align: right;
    margin-left: 130px;
    margin-right: 5px;
    margin-top: 55px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}

.news{
    margin-top: 12px;
    height: 600px;
    width: 460px;
    background: #E5E5E5;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

.title-news{
    display: flex;
    margin-left: px;
    margin-top: 26px;
}

.title-news img{
    margin-left: 30px;
    height: 120px;
    width: 120px;
}

.title-text{
    margin-left: 15px;
    padding: 10px;
    max-width: 250px;
    word-wrap: break-word;
}

.delimeter{
    width: 0px;
    border: 1px solid #F9E6AD;
}

/* scrolls */

.scrolling-news {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.scrolling-games{
    display: flex;
    max-width: 600px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}


scroll-page {
    display: flex;
    height: 100%;
}

.scrolling-news::-webkit-scrollbar{
    width: 0;
}

.scrolling-games::-webkit-scrollbar{
    width: 0;
}

.border{
    border: 2px solid black;
}


@media screen and (max-width: 1200px) {
    .header-content{
        width: 970px;
    }

    .container {
        margin-top: 40px;
        width: 900px;
        height: auto;
    }

    
    .container-text h1{
        font-size: 28px;
    }


    .lobbies {
        width: 500px;
    }
    
    .lobby{
        width: 500px;
    }
    
    
    
    
    .news{
        margin-top: 12px;
        height: 500px;
        width: 300px;
        background: #E5E5E5;
        border: 1px solid #E5E5E5;
        border-radius: 10px;
    }
    
    /* scrolls */

    .scrolling-news {
        display: block;
        max-height: 500px;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }


  }


  @media screen and (max-width: 1010px) {
    .header-content{
        width: 668px;
    }

    .container {
        margin-top: 40px;
        width: 900px;
        height: auto;
    }

    .container-text{
        display: flex;
    }
    
    .container-text h1{
        font-size: 20px;
    }


    .lobbies {
        margin-left: 100px;
        width: 300px;
    }
    
    .lobby{
        width: 300px;
    }
    
    
    .lobby-text h1{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
    
        margin-left: 10px;
    }
    
    .scrolling-games a{
        display: flex;
        text-decoration: none;
        color: black;
    
        margin: 10px;
        width: 240px;
        height: 160px;
        background: #FBFFC9;
    
    }
    
    .title-game {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .block-game h1{
        margin-left: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
    }
    
    .block-game h5{
        text-align: right;
        margin-left: 130px;
        margin-right: 5px;
        margin-top: 55px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
    }
    
    .news{
        margin-right: 100px;

        margin-top: 12px;
        height: 500px;
        width: 200px;
        background: #E5E5E5;
        border: 1px solid #E5E5E5;
        border-radius: 10px;
    }
    
    .title-news{
        display: flex;
        margin-left: 13px;
        margin-top: 26px;
    }

    .title-news img {
        width: 50px;
        height: 50px;

    }
    
    
    .title-text h3 {
        font-size: 15px;
    
    }
    
    .title-text p {
        font-size: 10px;
    }
    
    .delimeter{
        width: 0px;
        border: 1px solid #F9E6AD;
    }

    /* scrolls */

    .scrolling-news {
        display: block;
        max-height: 500px;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }


  }

  @media screen and (max-width: 700px) {
    .header-content{
        width: 320px;
    }

    .container {
        display: block;
        margin-top: 70px;
        width: 320px;
        height: auto;
    }

    .container-text{
        display: none;
        width: 375px;
        justify-content: center;
    }
    
    .container-text h1{
        font-size: 10px;
    }


    .lobbies {
        width: 300px;
    }
    
    .lobby{
        margin-left: -90px;
        width: 300px;
    }
    
    
    .lobby-text h1{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
    
        margin-left: 10px;
    }
    
    .scrolling-games a{
        display: flex;
        text-decoration: none;
        color: black;
    
        margin: 10px;
        width: 240px;
        height: 160px;
        background: #FBFFC9;
    
    }
    
    
    
    .news{
        margin-right: 100px;

        margin-top: 12px;
        height: 500px;
        width: 300px;
        background: #E5E5E5;
        border: 1px solid #E5E5E5;
        border-radius: 10px;
        margin-left: 10px;
    }
    

    .title-news img {
        width: 75px;
        height: 75px;

    }
    
    
    .title-text h3 {
        font-size: 20px;
    
    }
    
    .title-text p {
        font-size: 15px;
    }
    
    .delimeter{
        display: none;
    }

  }