{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% load static %}

{% block content_admin %}
    <div class="content-admin">
        <h5>LOTO ADMIN</h5>
    </div>
{% endblock %}

{% block content %}
    <link  href="{% static 'loto/css/card.css' %}" rel="stylesheet" type="text/css">
    <link  href="{% static 'loto/css/admin.css' %}" rel="stylesheet" type="text/css">



    <div class="container">
        <div class="container-content">
            <div class="container_card">
                <table>
                    <tr class="card">
                    {% with '1 11 21 31 41 51 61 71 81' as range_list %}
                    {% for item in range_list.split %}
                        <td class="not_checked" id="{{item}}" onclick="add_barrel({{item}})">{{item}}</td>
                    {% endfor %}
                    {% endwith %}
                    </tr>
                    <tr class="card">
                    {% with '2 12 22 32 42 52 62 72 82' as range_list %}
                    {% for item in range_list.split %}
                        <td class="not_checked" id="{{item}}" onclick="add_barrel({{item}})">{{item}}</td>
                    {% endfor %}
                    {% endwith %}
                    </tr>
                    <tr class="card">
                    {% with '3 13 23 33 43 53 63 73 83' as range_list %}
                    {% for item in range_list.split %}
                        <td class="not_checked" id="{{item}}" onclick="add_barrel({{item}})">{{item}}</td>
                    {% endfor %}
                    {% endwith %}
                    </tr>
                    <tr class="card">
                    {% with '4 14 24 34 44 54 64 74 84' as range_list %}
                    {% for item in range_list.split %}
                        <td class="not_checked" id="{{item}}" onclick="add_barrel({{item}})">{{item}}</td>
                    {% endfor %}
                    {% endwith %}
                    </tr>
                    <tr class="card">
                    {% with '5 15 25 35 45 55 65 75 85' as range_list %}
                    {% for item in range_list.split %}
                        <td class="not_checked" id="{{item}}" onclick="add_barrel({{item}})">{{item}}</td>
                    {% endfor %}
                    {% endwith %}
                    </tr>
                    <tr class="card">
                    {% with '6 16 26 36 46 56 66 76 86' as range_list %}
                    {% for item in range_list.split %}
                        <td class="not_checked" id="{{item}}" onclick="add_barrel({{item}})">{{item}}</td>
                    {% endfor %}
                    {% endwith %}
                    </tr>
                    <tr class="card">
                    {% with '7 17 27 37 47 57 67 77 87' as range_list %}
                    {% for item in range_list.split %}
                        <td class="not_checked" id="{{item}}" onclick="add_barrel({{item}})">{{item}}</td>
                    {% endfor %}
                    {% endwith %}
                    </tr>
                    <tr class="card">
                    {% with '8 18 28 38 48 58 68 78 88' as range_list %}
                    {% for item in range_list.split %}
                        <td class="not_checked" id="{{item}}" onclick="add_barrel({{item}})">{{item}}</td>
                    {% endfor %}
                    {% endwith %}
                    </tr>
                    <tr class="card">
                    {% with '9 19 29 39 49 59 69 79 89' as range_list %}
                    {% for item in range_list.split %}
                        <td class="not_checked" id="{{item}}" onclick="add_barrel({{item}})">{{item}}</td>
                    {% endfor %}
                    {% endwith %}
                    </tr>
                    <tr class="card">
                    {% with '10 20 30 40 50 60 70 80 90' as range_list %}
                    {% for item in range_list.split %}
                        <td class="not_checked" id="{{item}}" onclick="add_barrel({{item}})">{{item}}</td>
                    {% endfor %}
                    {% endwith %}
                    </tr>
                </table>
            </div>

            <div class="card_button">
                <div id="get_stream" class="click">
                    <h5 class="btn_open"><a href={% url 'get_stream_page' lobby_id=lobby.pk %}>Страница отображения</a></h5>
                </div>
                <div id="stop_game" class="click">
                    <h5 class="btn_end"><a href={% url 'stop_game' lobby_id=lobby.pk %}>Завершить игру</a></h5>
                </div>
            </div>

        </div>
        <div class="rules">
            <h1>Победители</h1>
            <ul id="winners_list">

            </ul>
        </div>
        
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>

        $.ajax({
            url: "{% url 'get_barrels' lobby.pk %}",
            success: function(result) {
                result["numbers"].forEach((x) => {
                    var el = document.getElementById(x);
                    el.className += " checked";
                    el.classList.remove("not_checked");
                    el.setAttribute( "onClick", `remove_barrel(${x})` );
                })
            }
        });

        setInterval(() => get_winners(), 3000);

        function get_winners() {
            $.ajax({
                url: "{% url 'get_winners' lobby.pk %}",
                success: function(result) {
                    console.log(result);
                    var list = document.getElementById("winners_list");
                    list.innerHTML = "";
                    result["winners"].forEach((player) => {
                        var li = document.createElement("li");
                        li.appendChild(document.createTextNode(player.player_name));
                        li.setAttribute("id", `player_${player.player_id}`);
                        li.setAttribute("class", "");
                        if (!player.is_submited) {
                            var btn = document.createElement('button');
                            btn.innerText="Подтвердить";
                            btn.style.background="green";
                            btn.setAttribute( "onClick", `submit_winner(${player.player_id})` );
                            li.appendChild(btn);
                        }
                        list.appendChild(li);
                        console.log(player);
                    });
    
                }
            });
        }
        
        function submit_winner(id) 
        {
            $.ajax({
                url: "{% url 'submit_winner' 12345 %}".replace(/12345/, id.toString()),
                success: function(result) {
                    console.log(result);
                }
            });
        };
        
        function add_barrel(id) 
        {
            $.ajax({
                url: "{% url 'add_barrel' lobby.pk 12345 %}".replace(/12345/, id.toString()),
                success: function(result) {
                    var el = document.getElementById(result['number']);
                    el.className += " checked";
                    el.classList.remove("not_checked");
                    el.setAttribute( "onClick", `remove_barrel(${id})` );
                }
            });
        };
        
        function remove_barrel(id) 
        {
            $.ajax({
                url: "{% url 'remove_barrel' lobby.pk 12345 %}".replace(/12345/, id.toString()),
                success: function(result) {
                    var el = document.getElementById(result['number']);
                    el.className += " not_checked";
                    el.classList.remove("checked");
                    el.setAttribute( "onClick", `add_barrel(${id})` );
                }
            });
        };

    </script>

{% endblock %}
