{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% load static %}

{% block content_admin %}
    <div class="content-admin">
        <h5>LOTO ADMIN</h5>
    </div>
{% endblock %}

{% block content %}
    <link  href="{% static 'loto/css/card.css' %}" rel="stylesheet" type="text/css">
    <link  href="{% static 'loto/css/admin.css' %}" rel="stylesheet" type="text/css">



    <div class="container">
        <div class="container-content">
            <div class="container_card">
                <table>
                    <tr class="card">
                        <td>34</td><td>34</td><td>34</td><td>34</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td>
                    </tr>
                    <tr class="card">
                        <td>34</td><td>34</td><td>36</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td>
                    </tr>
                    <tr class="card">
                        <td>34</td><td>34</td><td>36</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td>
                    </tr>
                    <tr class="card">
                        <td>34</td><td>34</td><td>36</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td>
                    </tr>
                    <tr class="card">
                        <td>34</td><td>34</td><td>36</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td>
                    </tr>
                    <tr class="card">
                        <td>34</td><td>34</td><td>36</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td>
                    </tr>
                    <tr class="card">
                        <td>34</td><td>34</td><td>36</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td>
                    </tr>
                    <tr class="card">
                        <td>34</td><td>34</td><td>36</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td>
                    </tr>
                    <tr class="card">
                        <td>34</td><td>34</td><td>36</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td>
                    </tr>
                    <tr class="card">
                        <td>34</td><td>34</td><td>36</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td><td>23</td>
                    </tr>
                </table>
            </div>

            <div class="card_button">
                <a href="">Страница отображения</a>
                <a href="">Завершить игру</a>

            </div>

        </div>
        <div class="rules">
            <h1>Победители</h1>
            <div class="winners">
                <p>1. Player</p>
                <p>✔</p>
            </div>


            
        </div>
    </div>
{% endblock %}
