.container {
    margin-top: 320px;
    border-radius: 10px;
}

.container-text{
    display: flex;
    margin: 0px;
    justify-content: center;


}

.container h1{
    font-size: 130px;
    
}

.content-title h2{
    font-size: 26px;
    font-weight: 400;
    margin-top: 35px;
    margin-right: 100px;


}