@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    display: flex;
    margin-top: 250px;
    width: 1200px;
    justify-content: center;
}

.container-form{
    display: block;
    text-align: center;
    background: #D0EBFE;
    border-radius: 15px;
    width: 450px;
    height: auto;
}

.container-form input {
    background: #FFFFFF;
    border: 2px white;
    height: 45px;
    width: 400px;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 85%;

    margin-top: 10px;
}

.container-form input::placeholder {
    font-size: 18px;
    padding: 10px;
}

.container-form #sub {
    background: #C1E3FF;
    border: 2px rgb(161, 161, 161);
    width: 170px;
}

