@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    display: flex;
    margin-top: 120px;
    width: 1170px;
    height: 600px;
    justify-content: center;

    border-radius: 10px;
    background: #e4f4ff;
}

.container-content{
    text-align: center;
}

.container_card {
    background: #C4C4C4;
    width: 600px;
    height: 200px;
    margin: 30px;
}

.container_card table {

    width: 600px;
    height: 200px;

}

.container_card th, td {
    background: #FBFFC9;
    border: 1px solid #F9E6AD;
    font-weight: 700;
    transition: all .25s;
}

#winner {
    max-width: 650px;
    font-size: 18px;
}

#check_btn {
    background: #C1E3FF;
    border: 2px rgb(161, 161, 161);
    border-radius: 5px;
    width: 170px;
    padding: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.container_card th, td:hover {
    background: #ffccC9;
    cursor: pointer;
}

.checked {
    background: #ff7777;
}

.not_checked {
    background: #FBFFC9;
}





@media screen and (max-width: 600px) {
    .container-content h1{
        font-size: 18px;
    }
    .container_card {
        width: 400px;
        height: 150px;
    }

    .container_card table {

        width: 400px;
        height: 150px;
    
    }

}

@media screen and (max-width: 425px) {
    .container {
        margin-top: 60px;
    }

    .container-content h1{
        font-size: 15px;
    }
    .container_card {
        width: 300px;
        height: 100px;
    }

    .container_card table {

        width: 300px;
        height: 100px;
    
    }

    #winner {
        max-width: 650px;
        font-size: 10px;
    }

}